*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
}
 .container{
     width: 1170px;
     margin: 0 auto;
}
.col-xl-7 {
    flex:0 0 58.33%;
    max-width: 58.33%;
}
.col-xl-5{
    flex:0 0 41.66%;
    max-width: 41.66%;
}
.col-lg-8{
    flex:0 0 66.66%;
    max-width: 66.66%;
}
.col-lg-4{
    flex:0 0 33.33%;
    max-width: 33.33%;
}
.col-md-2{
    flex:0 0 16.66%;
    max-width: 16.66%; 
}
.col-md-10{
    flex:0 0 83.33%;
    max-width: 83.33%; 
}
.col-sm-12{
    flex:0 0 100%;
    max-width: 100%; 
}
.col-12{
    flex:0 0 100%;
    max-width: 100%; 
}
.col-sm-3{
    flex:0 0 100%;
    max-width: 100%; 
}
.col-6{
    flex:0 0 50%;
    max-width: 50%; 
}
.col-3{
    flex:0 0 25%;
    max-width: 25%;  
}
.col-5{
    flex:0 0 41.66%;
    max-width: 41.66%;
}
.col-4{
    flex:0 0 33.33%;
    max-width: 33.33%;
}
.row {
    display: flex;
}    
.form-center{
    display: flex;
    justify-content: center;
}
.logo{
    margin-top: 40px;
    margin-left: 10px;
}
.nav{
    display: flex;
    margin-left: 35px;
}
.nav li  {
    margin-top: 44px;
    flex-direction: row;
    margin-left: 30px;
}
.box{
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: #191919;
    font-weight: bold;
    width: 31px;
}
a:hover{
    color: #1ae6e0;
}
header {
    background: url(images/home_screen.jpeg)  ;
    height: 670px;
    background-position: center ;
    background-size: cover;
    background-size: 100% 100% ;
    background-repeat: no-repeat;
}
.main-header{
    display: flex;
    justify-content: flex-end;
}
.content-header{
   margin-top: 170px;
   margin-right: 115px ;
}
h1{
    font-size: 38px;
    color: black;
    margin-bottom: 40px;
}
.text{
    font-size: 18px;
    color: #787878;
    line-height: 1.5;
    margin-bottom: 40px;
}
button{
    height: 55px;
    width: 180px;
    background-color: #10c9c3;
    text-transform: uppercase;
    color: #ffffff;
    outline: none;
    border: none;
}
button:hover{
   background-color: #1ae6e0;
}
.send input:hover{
    background-color: #1ae6e0;
 }
.about{
    height: 420px;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
}
h2{
    font-size: 30px;
    margin-bottom: 40px;
}
.text-page {
    font-size: 16px;
}
.block-skills{
    display: flex;
    flex-direction: row-reverse;
    background-color: #f9f9f9;
    background-image: url(images/profskillbackground1.png);
    background-repeat: no-repeat;
    height: 570px;
    background-position: right;
    background-size: 50%;
}
.title-skills{
    margin-top: 160px;
}
.container-skills {
    width: 80%; 
    background-color: #d8d8d8; 
}
.skills { 
    line-height: 5px;
    margin-bottom: 50px;
    color: #f9f9f9;
}
.design {
    width: 75%; 
    background-color: #10c9c3;
} 
.development {
    width: 90%; 
    background-color: #10c9c3;
} 
.marketing {
    width: 65%; 
    background-color:  #10c9c3;
} 
.name-skills{
    margin-bottom: 20px;
    font-weight: 600;
}
.numbers{
    height: 240px;
    background-color: #10c9c3;
}
.box-numbers{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 240px;
    justify-content: start;
}
.calc{
    flex-direction: column;
    margin-left:30px;
}
.calc-numbers{
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 15px ;
}
.name-item{
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.img-work{
    display: flex;
    flex-wrap: wrap;
}
.img-work .zoom-img { 
    flex-basis: 25%;
}
.zoom-img img {
    display: block;
    width: 100%;
    height: 100%;
}
.zoom-img{
    display: inline-block;
	position: relative;    
	line-height: 0;
}
.zoom-img:hover:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;    
	left: 0;   
	background-color: #000000;    
	opacity: 0.8;    
}
.zoom-img:hover:before {
	content: "";
	display: inline-block;
	width: 52px;
	height: 52px;
	margin: -26px 0 0 -26px;  
	position: absolute;    
	top: 50%;
	left: 50%;    
	background: url(images/look.png) 0 0 no-repeat;
	z-index: 100;
}
.load-more{
    background-color: #f5f5f5;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.load-work{
    text-transform: uppercase;
    color:#8e8e8e ;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
}
.work-process{
    height: 930px;
    background-color: #fff;
}
.work-process-title{
     margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}
h3{
    font-weight: 600;
    margin-bottom: 50px;
    font-size: 30px;
}
h4{
    font-size: 30px;
    margin-bottom: 40px; 
    font-weight: 600;
}
.player-work{
display: flex;
justify-content: center;
align-items: center;
position: relative;
}
.play{
   position: absolute;
}
.block-services{
    height: 535px;
    background-color: #f5f5f5;
    text-align: center;
}
.icon-services{
    margin-bottom: 30px;
}
.title-services{
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.icon-services-first{
    margin-top: 100px;
}
.icon-services-second{
    margin-top: 60px;
}
.text-services{
    font-size: 12px;
    color: #787878;
    line-height: 1.5;
    font-weight: 300;
}
.testimonials{
    height: 500px;
    background-color: #10c9c3;
    display: flex;
    align-items: center;
}
.slider , .visitor {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-content{
   font-size: 24px;
   color: #ffffff;
   line-height: 1.5;
}
.visitor-name{
    margin-top: 40px;
    color: #ffffff;
}
.clients{
    height: 200px;
    background-color: #ffffff;
}
.logo-clients{
    display: flex;
    justify-content: center;
}
.clients{
    display: flex;
    align-items: center;
}
.need-project{
    height: 790px;
    background-color: #f5f5f5;
}
.form{
    height: 330px;
    width: 680px;
    text-align: center;
}
.first-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.name input , .email input {
    text-indent: 20px;
    width: 320px;
    height: 50px;
    border: none;
    outline: none;
    background-color: #ffffff;
    font-size: 15px;
}
.title input{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background-color: #ffffff;
    text-indent: 20px;
    font-size: 15px;
    margin-bottom: 30px;
}
.comment textarea {
    height: 170px;
    width: 100%;
    border: none;
    resize: none;
    text-indent: 20px;
    line-height: 3.5;
    font-size: 15px;
    border: none;
    outline: none;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif; ;
    
}
.send input {
    width: 180px;
    height: 55px;
    border: none;
    outline: none;
    background-color: #10c9c3;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif; 
    letter-spacing: 0.5px;
}
footer{
    height: 280px;
    background-color: #141414;

}
h5{
    color: #ffffff;
    margin-top: 100px;
    margin-bottom: 30px;
}
.site-name p{
    color: #ffffff;
    line-height: 1.5;
}
.contact{
    color: #ffffff;
    margin-top: 100px;
    line-height: 1.5;
}
.menu-header a{
    color: #ffffff;
    font-weight: 100;
    line-height: 1.5;
    text-transform: none;
    font-size: 15px;
    width: max-content;

}
.menu-header{
    margin-top: 100px;
    display: flex;
   flex-direction: column;
}
.flex{
    display: flex;
    flex-direction: row;
}
.part-2{
    margin-left: 50px;
}
.part-1{
    margin-left: 100px;
}
.part-3{
    margin-left: 120px;
}
@media (max-width:767px){
    .container{
        max-width: 100%;
    }
    .content-header{
        margin-top: 50px;
        margin-right: 10px;
        text-align: center;
    }
    .col-sm-12  { 
        flex:0 0 100%;
        max-width: 100%;
    }
    .col-sm-3{
        flex:0 0 100%;
        max-width: 100%;
    }
    .row{
        flex-direction: column;
        align-items: center;
    } 
    .mobile-menu{
        flex-direction: row;
        width: 0px;
    }
    .nav{
        overflow: scroll;
        position: relative;
        width: 100%;
        margin-left:-14px ;
    }
    .block-skills{
        background-image: none;
    }
    .numbers{
        height: 1000px ;
    }
    .icon{
        margin-left: -30px;
    }
    .player-work img {
        max-width: 100%;
    }
    .play img {
        width: 30px;
        height: 30px;
    }
    .box-numbers{
        height: 120px;
    }
    .numbers{
        height: 500px;
    }
    .img-work{
        flex-direction: column;
    }
    .player-work , .work-process-title {
        padding: 10px;
    }
    .work-process-title{

        margin-top: 25px;
    }
    .block-skills{
        height: 410px;
    }
    .title-skills {
        margin-top: 35px;
    }
    .block-services{
        height: 100%;
    }
    .work-process {
        height: 100%;
    }
    .title-services{
        font-size: 20px;
    }
    .text-services{
        font-size: 20px;
        width: 100%;
    }
    .block-services {
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .icon-services{
        height: 50px;
    }
    .logo-clients{
        margin: 50px;
    } 
    .clients{
        height: 700px;
    }
    .first-row , .second-row{
        flex-wrap: wrap;
    }
    .form {
        width: 100%;
        padding: 10px;
    }
    .name input {
        margin-bottom: 30px;
    }
    .name input,.email input {
        width: 100%;
    }
    li{
        width: 100%;
    }
    .send input {
        margin-top: -12px;
    } 
     footer{
         height: 750px;
    }
     .part-3,.part-1{
         margin-left: 0px;
    }
    .text-services{
        margin-bottom: 40px;
    }
    .testimonials{
        height: 423px;
    }
    .box{
        display: block;
    }
    .col-sm-10{
        flex:0 0 83.33%;
        max-width: 83.33%; 
    }

}
@media ( min-width: 577px )  {
    .container {
        max-width: 100%;
        justify-content: center;
    }
    .mobile-menu {
        position: fixed;
        z-index: 100;
        width: 100%;
    }
   .col-sm-12{
    flex:0 0 100%;
    max-width: 100%;
    }
    .col-md-10 {
        flex: 0 0 83.33%;
        max-width: 83.33%;
    }
    .nav li{
        position: relative;
        right: 60px;
    }
    .player-work img {
        max-width: 100%;
    }
    .part-1,.part-3{
        margin-left: 17px;
    }
    .contact{
        margin-left: 15px;
    }
    
} 
@media ( min-width: 768px ){
    .container{
        max-width: 720px;
    }
    .col-md-2{
        flex:0 0 16.66%;
        max-width: 16.66%; 
    }
    .col-md-10{
        flex:0 0 83.33%;
        max-width: 83.33%; 
    }
    .row{
        flex-direction: row;
    }
    .title-skills{
        margin-top: 130px;
    }
    .work-process{
        height: 690px;
    } 
    .mobile-menu{
        margin-left: -24px;
    } 
}
@media ( min-width: 992px ){
    .container{
        max-width: 960px;
    }
    .col-lg-4{
        flex:0 0 33.33%;
        max-width: 33.33%;
    }
    .col-lg-8{
        flex:0 0 66.66%;
        max-width: 66.66%;
    }
    .row{
        flex-direction: row;
    }
    .work-process{
        height: 815px;
    } 
    .mobile-menu{
        margin-left: -32px;
    } 
}
@media ( min-width: 1200px ){
    .container{
        max-width: 1140px;
    }
    .col-xl-5{
        flex:0 0 41.66%;
        max-width: 41.66%;
    }
    .col-xl-7{
        flex:0 0 58.33%;
        max-width: 58.33%;
    }
    .row{
        flex-direction: row;
    }
    .part-3{
        margin-left: 100px;
    }
    .part-1 , .part-2{
        margin-left: 80px;
    }
    .contact{
        margin-left: 95px;
    }
    .work-process{
        height: 920px;
    } 
    .mobile-menu{
        margin-left: 0px;
    }
}
.modal{
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
    background-color: rgba(0,0,0,0.3);
    display: none;
}
.modal-block{
    width: 300px;
	height: 200px;
	margin: 300px auto;
	background-color: white;
	border: 1px solid grey;
    padding: 15px;
    text-align: center;
}
.modal-btn{
    height: 40px;
    margin-top: 30px;
    width: 100px;
    letter-spacing: 2px;
   
}
.modal-phone,.modal-email{
    margin-top: 15px;
    outline: none;
    border: 1px solid #10c9c3;
    height: 20px;
    width: 170px;
}
.btn-close{
    display: inline-block;
    margin-left: 260px;
   cursor: pointer;
}
.show{
    display: block;
}
@media ( max-width: 767px ){
    .nav-mobile-menu{
        display: block;
        width: 15px;
        height: 15px;
        position: relative;
    }
    .nav-mobile-menu span{
        height: 1px;
        background-color: black;
        position: absolute;
        left: 0;
        right: 0;
        transition: .25s ease-in-out;
    }
    .nav-mobile-menu span:first-child{
        top: 3px;
    }
    .nav-mobile-menu span:nth-child(2){
        top: 7px;
    }
    .nav-mobile-menu span:nth-child(3){
        bottom: 3px;
    }
    .navigation{
        width: 280px;
        max-width: 280px;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        transform: translateX(150%);
        transition: all 500ms ease-in-out;
        z-index: 100;
        height: 363px;
    }
    .hidden-menu{
        opacity: 0;
        visibility: hidden;
    }
    /* active menu */
    .nav-mobile-menu.active-menu span:first-child{
        top: 50%;
        transform: rotate(45deg);
    }
    .nav-mobile-menu.active-menu span:nth-child(2){
        top: 50%;
        transform: rotate(-45deg);
    }
    .nav-mobile-menu.active-menu span:nth-child(3){
        transform: scale(0);
    }
    .navigation.active-menu{
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        top: 80px;
        background-color: rgba(195, 211, 216, 0.993);
    }
    .active-menu .nav{
        flex-direction: column;
    }
    .nav li{
        margin-top: 33px;
        margin-left: 0px;
    }
    .nav a{
        font-size: 16px;
        font-weight: normal;
    }
    .nav{
        margin-left: 30px;
        flex-direction: column;
    }
    .mobile-menu{
        max-width: 100%;
        height: 62px;
    }
    .content-header{
        margin-top: 160px;
    }
    .logo{
        margin-top: 6px;
    }
    .nav-mobile-menu{
        margin-top: -21px;
    }
    .modal-block{
        margin-top: 80px;
    }
}

.block-mobile-menu{
    display: flex;
    justify-content: flex-end;
    margin-top: 33px;
    margin-right: 17px;
}
.mobile-menu{
    position: fixed;
    z-index: 100;
    width: 1140px;
}
.nav-scroll{
    background-color: rgba(189, 189, 189, 0.979);
}
iframe {
    max-width: 100%;
}

 